.jinebox{
    width: 500px;
    margin: 80px auto 0;
    border-bottom: 1px solid #f77621;
    height: 70px;
    display: flex;
    color: #333333;
    font-size: 36px;
    align-items: center;
}
.jinebox .jine{
    flex: 1;
    border: 0;
    height: 70px;
    font-size: 36px;
}
.add-remarks{
    width: 500px;
    margin: 10px auto 0;
    text-align: right;
    color: #74b1dc;
    font-size: 28px;
}
.offers{
    width: 500px;
    margin: 75px auto 0;
}
.offers .tips{
    color: #999;
    font-size: 28px;
    margin-bottom: 15px;
}
.offers-ul li{
    display: flex;
    height: 50px;
    line-height: 50px;
    align-items: center;
}
.offers-ul li .word{
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 30px;
    background: #f77621;
    border-radius: 3px;
}
.offers-ul li .type{
    flex:1;
    font-size: 30px;
    margin-left: 10px;
    color: #333333;
}
.offers-ul li .num{
    color: #f87622;
    font-size: 30px;
}
.offers-ul li .radio{
    width: 26px;
    height: 25px;
    margin-left: 10px;
}
.offers-ul li .radio.hover{
    background: url(../images/dui.png);
}

.submit{
    background: #62be85;
    width: 560px;
    margin: 50px auto 0;
    height: 90px;
    font-size: 36px;
    color: #fff;
    text-align: center;
    line-height: 90px;
    display: block;
}
.overlays{
    position: fixed;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
}
.remarklays{
    display: none;
    width: 500px;
    height: 290px;
    background: #fff;
    border-radius: 10rpx;
    position: fixed;
    left: 50%;
    margin-left: -250px;
    top: 110px;
    z-index: 100;
    overflow: hidden;
}
.remarklays .titles{
    text-align: center;
    color: #000000;
    font-size: 30px;
    margin:30px auto;
}
.remarkt{
    display: block;
    margin:0 auto;
    width: 410px;
    height: 60px;
    background: #f3f3f3;
    padding: 10px;
    line-height: 30px;
    border: 1px solid #eaeaea;
    font-size: 24px;
}
.buttons{
    width: 500px;
    display: flex;
    height: 70px;
    line-height: 70px;
    margin-top: 38px;
    border-top: 1px solid #eaeaea;
}
.buttons .cancel{
    width: 249px;
    border-right: 1px solid #eaeaea;
    text-align: center;
    color: #000;
    font-size: 30px;
    float: left;
    display: block;
}
.buttons .confirm{
    width: 250px;
    border-left: 1px solid #eaeaea;
    text-align: center;
    color: #62be85;
    font-size: 30px;
    float: left;
    display: block;
}
.paylays{
    height: 500px;
    width: 100%;
    position: fixed;
    background: #fff;
    left: 50%;
    margin-left: -375px;
    bottom: 0;
    z-index: 100;
    display: none;
}
.paylays .title{
    color: #333333;
    font-size: 36px;
    line-height: 85px;
    height: 85px;
    border-bottom: 1px solid #eaeaea;
    position: relative;
    text-align: center;
}
.paylays .title span{
    color: #333333;
    font-size: 80px;
    position: absolute;
    height: 85px;
    width: 85px;
    text-align: center;
    line-height: 85px;
    left: 0;
    top: 0;
}
.chuzhi{
    line-height: 85px;
    height: 85px;
    display: flex;;
    align-items: center;
    padding: 0 25px;
}

.chuzhi .word{
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 30px;
    background: #f77621;
    border-radius: 3px;
}
.chuzhi .jine{
    color: #333333;
    font-size: 30px;
    margin-left: 20px;
    flex:1;
}
.chuzhi .radio{
    width: 33px;
    height: 33px;
    background: url(../images/dui2.png);
}
.chuzhi .radio.hover{
    background: url(../images/dui3.png);
}
.ptitle{
    border-top: 20px solid #f0eff4;
    line-height: 85px;
    height: 105px;
    padding: 0 25px;
    border-bottom: 1px solid #eaeaea;
    color: #333333;
    font-size: 30px;
}
.wxbox{
    line-height: 85px;
    height: 85px;
    display: flex;;
    align-items: center;
    padding: 0 25px;
}
.wxbox .wxicon{
    width: 46px;
    height: 41px;
    background: url(../images/wxicon.png);
}
.wxbox .jine{
    color: #333333;
    font-size: 30px;
    margin-left: 20px;
    flex:1;
}
.wxbox .radio{
    width: 33px;
    height: 33px;
    background: url(../images/dui2.png);
}
.wxbox .radio.hover{
    background: url(../images/dui3.png);
}
.pays{
    color: #fff;
    background: #62be85;
    text-align: center;
    line-height: 90px;
    height: 90px;
    font-size: 36px;
    position: absolute;bottom: 0;
    left: 0;
    width: 100%;
}

.couponlays{
    height: 700px;
    width: 100%;
    position: fixed;
    background: #fff;
    left: 50%;
    flex-direction: column;
    margin-left: -375px;
    bottom: 0;
    z-index: 100;
    display: none;
}
.nav{
    display: flex;
    height: 90px;
    line-height: 90px;
    align-items: center;
}
.nav p{
    width: 50%;
    height: 90px;
    line-height: 90px;
    text-align: center;
    font-size: 36px;
    color: #333;
}
.nav p.hover{
    color: #f77722;
    border-bottom: 5px solid #f77722;
}
.coupon-buttons{
    width: 100%;
    background: #fff;
    height: 90px;
}
.coupon-buttons span{
    float: right;
    font-size: 36px;
    color: #fff;
    width: 290px;
    text-align: center;
    background: #62be85;
    height: 90px;
    line-height: 90px;
}
.couponlays .list-hd{
    height: 520px;
    overflow: auto;
    background: #f0eff4;
}
.list-hd .tips{
    font-size: 24px;
    color: #999;
    height: 60px;
    line-height: 60px;
    padding: 0 25px;
}
.coupon-box{
    display: none;
}
.coupon-box.select{
    display: block;
}
.list{
    width: 703px;
    height: 180px;
    margin:0 auto 20px;
    background: url(../images/bgs.png);
}
.list .status{
    position: absolute;
    width: 143px;
    height: 105px;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.list .price{
    float: left;
    width: 226px;
    height: 180px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background: url(../images/couponbg.png);
}
.list .condition{
    font-size: 20px;
}
.price-num {
    font-size: 44px;
}
.price-num span{
    font-size: 80px;
}
.list .msg{
    float: left;
    width: 362px;
    height: 180px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 25px;
}
.list .radio{
    width: 90px;
    height: 180px;
    float: left;
}
.list .radio.hover{
    background: url(../images/dui1.png) center center no-repeat;
}
.list .name{
    font-size: 28px;
    color: #333333;
    font-weight: bold;
}
.list .num{
    font-size: 24px;
    color: #999;
    margin-top: 10px;
}
.list .period{
    font-size: 24px;
    color: #999;
    margin-top: 10px;
}
.keyboardlays{
    position: fixed;
    bottom: -466px;
    width: 750px;
    left: 50%;
    margin-left: -375px;
    background: #fff;
    height: 466px;

}
.keyboardlays table{
    width: 100%;
    height: 100%;
    border-collapse:collapse;
}
.keyboardlays table td{
    border: 1px solid #e4e4e4;
    color: #333333;
    font-size: 54px;
    font-weight: bold;
    text-align: center;
}
.keyboardlays table td.keyfirm{
    color: #fff;
    background: #62be85;
    font-size: 40px;
}
td.keyclose{
    background: url(../images/closes.png) no-repeat center center;
}
td.hidekey{
    background: url(../images/keyborad.png) no-repeat center center;
}






